<section class="py-20 text-center">
  <h2 class="">Purpose & Intention</h2>

  <p
    class="mx-auto max-w-4xl pb-4 text-2xl font-light !leading-normal sl-wide:text-4xl"
  >
    Spellworc exists to foster & worthy European folklore as a living, essential
    part of our modern lives, ensuring it forever endures within us and our kin.
  </p>
  <a href="/about" class="uppercase">About Spellworc</a>
</section>
